html {
  height: 125%;
  bottom: 0;
  background-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 150px;

}

footer {
	position: absolute;
	bottom: 0
}

h1 {
  font-family: 'Abel', sans-serif;
}

h2 {
  padding-top: 4.5%;
  font-family: 'Abel', sans-serif;
}

h3 {
  padding-top: 0%;
  font-family: 'Abel', sans-serif;
}

.topnav {
  position: relative;
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d1cfcf;
  color: black;
}

.topnav a.active {
  background-color: #d1cfcf;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

#smallbox {
  height: 10%;
  background-color: #d1cfcf;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 0.4%;
}

#smallbox1 {
  font-size: 22px;
  word-spacing: 3px;
  color: #fff;
  background-color: #333;
  display: block;
  margin: auto;
  margin-top: 15%;
  width: 40%;
  text-align: center;
  padding: 20px;
  text-decoration-color: white;
}

#image1 {
  float: none;
  position: absolute;
  padding-top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#carlist {
  width: 72.6%;
  height: 96.8%;
}


/*#bottomborder {
  width: 100%;
  height: 20px;
  background: black;
}*/
