/* defines parameters for whole site */
html {
  background-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 150px;
  /* defines the font to use */
  font-family: 'Abel', sans-serif;
}

h1 {
  padding-top: 6%;
  font-size: 40px;
}

h2 {
  padding-top: 4.5%;
}

/* sets style for the navbar */
.topnav {
  position: relative;
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* style for navbar when user hovers over a component */
.topnav a:hover {
  background-color: #d1cfcf;
  color: black;
}

/* style for navbar when user has clicked the link */
.topnav a.active {
  background-color: #d1cfcf;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* style for box at top of each page */
#smallbox {
  height: 10%;
  background-color: #d1cfcf;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 0.4%;
}

/* style for larger box at middle of page that contains most content */
#largebox {
  font-size: 22px;
  word-spacing: 3px;
  color: #fff;
  background-color: #333;
  display: block;
  margin: auto;
  margin-top: 15%;
  width: 40%;
  text-align: center;
  padding: 20px;
  text-decoration-color: white;
  border-radius: 10px;
}

/* sets default links as a light blue */
#largebox a:link {
  color: #34c3eb;
}

/* and visited links as a red colour */
#largebox a:visited {
  color: red;
}

/* style for image of car */
#image1 {
  float: none;
  position: absolute;
  padding-top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#carlist {
  width: 72.6%;
  height: 96.8%;
}

#carshow {
  width: 100%;
  height: 100%;
}

/* style for font on show cars page */
#showcarstext {
  font-size: 25px;
}

/* style for normal link on show cars page */
#showcarstext a:link {
  color: #34c3eb;
}

/* style for visited link on show cars page */
#showcarstext a:visited {
  color: red;
}

/* sets style for messages flashed on site */
#flashmsg {
  text-align: center;
  padding-top: 1%;
  color: red;
}

.button {
  text-decoration-color: black;
  background-color: #0fbf15;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}

#favourite_button {
  padding-top: 2px;
}

#resetpassreq {
  text-align: center;
}
