{%extends 'layout.html'%}

{%block content%}
<title>
  Welcome to FH4 Cars!
</title>
<div id = 'smallbox'>
  <h2>
    Welcome to the Forza Horizon 4 cars database
  </h2>
</div>
<div id='image1'>
  <img src="/static/images/logo.jpg" alt="FH4 Cars Logo">
</div>
<div id = 'smallbox1'>
  <h3>
    You can use the links above to navigate
    this database. The "Cars" link will lead to
    the display of all cars in FH4 and details about them,
    as well as the ability to search for an individual car.
    The "Manufacturers" link will lead to the different
    manufacturers of cars in FH4, with details about them and
    what cars they made. Lastly, the sign up and log in links
    will let you make an account, or log into an existing account.
    Although it is not required to make an account, it will allow
    you to access your profile and save cars to your profile
    for later viewing.
  </h3>
</div>
{%endblock%}
