{% extends 'layout.html' %}
<script>
  function jPopup() {
            alert("By entering this site, you agree to the usage of cookies");
          }
</script>
<script>
  $(document).ready(function() {
    var isshow = localStorage.getItem('isshow');
    if (isshow == null) {
        localStorage.setItem('isshow', 1);
        console.log("yes")
        // Show popup here
        $('#jPopup').show();
    }
});
</script>
{% block content %}
<title>
  Welcome to FH4 Cars!
</title>
<div id = 'smallbox'>
  <h2>
    Welcome to the Forza Horizon 4 cars database
  </h2>
</div>
<div id='image1'>
  <!-- logo image -->
  <img src="/static/images/logo.jpg" alt="FH4 Cars Logo">
</div>
<div id = 'largebox'>
  <h3>
    You can use the links above to navigate
    this database.
    Although it is not required to make an account, it will allow
    you to access your profile and save cars to your profile
    for later viewing.
  </h3>
</div>
{% endblock %}
