<!doctype html>
<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
      <script src="static/js.js"></script>
    <link rel='stylesheet' type='text/css' href='/static/css/style.css'>
    <link rel="icon" href="/static/images/logo.jpg">
    <title>
      FH4 Cars - {{ page_title }}
    </title>
  </head>
  <body>
    <!--creates a basic template for each page by linking different files
        together and includes them in each of the four frontend pages-->
    <div id = 'wrapper'>
    {%include 'header.html'%}
    {%include 'navigation.html'%}
    {% with messages = get_flashed_messages() %}
    <!-- if messages exist -->
    {% if messages %}
    <div id = 'flashmsg'>
      <!-- for loop for flashed messages -->
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {%block content%} {%endblock%}
    {%include 'footer.html'%}
    </div>
  </body>
</html>
