{%extends 'layout.html'%}

{%block content%}
<title>
  MANUFACTURER LIST
</title>
<div id = 'smallbox'>
  <h2>
    You can view all manufacturers below or search for a specific company using
    the search bar
  </h2>
  <div id="searchWrapper">
    <form method="POST"}}>
      <!-- submit data from form as query -->
      {{ searchform.csrf_token }}
      {{ searchform.query }}{{ searchform.submit }}
    </form>
  </div>
</div>

<div id = 'largebox'>
  {% for manufacturer in manufacturers %}
    <!--adds each link onto page by using its value in the database-->
    <p><a href="/manufacturer/{{ manufacturer.id }}">{{ manufacturer.name }}</p>
  {% endfor %}
</div>

{%endblock%}
