<div class="topnav">

  <div class="topnav-centered">
    <a href=" {{ url_for('home')}} "><h3>Home</h3></a>
  </div>

  <a><img src="/static/images/logo.jpg" length="240" width="150"></a>
  <a href="/cars"><h3>Cars</h3></a>
  <a href="/manufacturers"><h3>Manufacturers</h3></a>


  <div class="topnav-right">
    {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}"><h3>Log In</h3></a>
    {% else %}
      <a href="{{ url_for('logout') }}"><h3>Logout</h3></a>
    {% endif %}
    <a href="/signup"><h3>Sign Up</h3></a>
    {% if current_user.is_anonymous %}
      <a href="/profile"><h3>Profile</h3></a>
    {% else %}
      <a href="/profile"><h3>{{ current_user.username }}</h3></a>
    {% endif %}
  </div>
</div>
