{%extends 'layout.html'%}

{%block content%}
<title>
  Your Profile
</title>
<div id = 'smallbox'>
  <h2>
    Welcome to your profile, {{ current_user.username }}! You can view your saved cars below
  </h2>
</div>

<div id = 'largebox'>
  <h3>{{ current_user.username }}'s Car List: </h3>

  <!-- if list 'cars' in profile route has length of 0 (i.e it doesnt exist) -->
  {% if cars|length == 0 %}
    <p> Please favourite a car from the 'Cars' page to view them on your profile! </p>
  <!-- otherwise, -->
  {% endif %}
  <!-- loop through all cars and put link on this page -->
  {% for car in cars %}
    <p><a href="/car/{{ car.id }}">{{ car.name }}</p> <img id="carlist" src={{ car.image }} alt="{{ car.name }} Picture">
  {% endfor %}


</div>

{%endblock%}
