{%extends 'layout.html'%}

{%block content%}
<title>
  CAR INFO
</title>
<div id = 'smallbox'>
  <h2>
    You can view more information on the '{{ car.name }}' below
  </h2>
</div>

<div id = 'largebox'>
    <!--adds each image onto page by using its value in the database-->
    <img id = "carshow" src={{ car.image }} alt="{{ car.name }} Picture">
    <!-- if user not signed in, tell them to sign in before favouriting -->
    {% if current_user.is_anonymous %}
      <form>
        <input type="button" value="Add to favourites" onclick="msg()">
      </form>

      <script>
        function msg() {
          alert("Please sign in first to add this car to your favourites!");
        }
      </script>
      <!-- else, if car hasn't been favourited show up with add button -->
    {% elif favourited|length > 0 %}
      <div id="favourite_button">
        <button onclick="location.href='{{ url_for('delete', id=car.id)}}'" type="button"> <h3> Remove from favourites </h3></button>
      </div>
      <!-- if car has been favourited, show up with remove button -->
    {% else %}
      <div id="favourite_button">
        <button onclick="location.href='{{ url_for('favourite', id=car.id)}}'" type="button"> <h3> Add to favourites </h3></button>
      </div>
    {% endif %}


    <div id = "showcarstext">
      <h2>Name: </h2>{{ car.name }} <br>
      <h2>Manufacturer: </h2><a href="/manufacturer/{{ manufacturer.id }}">{{ manufacturer.name }}</a> <br>
      <h2>Horsepower: </h2> {{ car.horsepower }} <br>
      <h2>Cost: </h2>{{ car.cost }} <br>
      <h2>Wheeldrive: </h2> {{ car.wheeldrive }} <br>
      <h2>Weight: </h2> {{car.weight}} <br>
    </div>
</div>

{%endblock%}
