{%extends 'layout.html'%}

{%block content%}
<title>
  CAR INFO
</title>
<div id = 'smallbox'>
  <h2>
    You can view more information on the '{{ car.name }}' below
  </h2>
</div>

<div id = 'smallbox1'>
    <!--adds each image onto page by using its value in the database-->
    <img id = "carshow" src={{ car.image }} alt="{{ car.name }} Picture">
    <!--<button type="button"> <h3> Add to favourites </h3></button>-->
    <form>
      {{ form.hidden_tag() }}
      <p>
        {{ form.submit() }}
      </p>
    </form>
    <div id = "showcarstext">
      <h2>Name: </h2>{{ car.name }} <br>
      <h2>Manufacturer: </h2><a href="/manufacturer/{{ manufacturer.id }}">{{ manufacturer.name }}</a> <br>
      <h2>Horsepower: </h2> {{ car.horsepower }} <br>
      <h2>Cost: </h2>{{ car.cost }} <br>
      <h2>Wheeldrive: </h2> {{ car.wheeldrive }} <br>
      <h2>Weight: </h2> {{car.weight}} <br>
    </div>
</div>

{%endblock%}
